{
  "pv_prefix": "CLF-TIMING",
  "minimal_pvs": true,
  "ptp_enable": true,
  "gps_serial_device": "/dev/serial0",
  "gps_baud": 9600,
  "pmtk_minimal": true,
  "nmea_rate_hz": 1,
  "min_sats_use": 3,
  "fix_timeout_s": 10
}
