
# /etc/chrony/chrony.conf - Managed by Ansible
# Drift and logging
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
leapsectz right/UTC
rtcsync
makestep 1.0 3

# Reference clocks: NMEA for time, PPS for seconds
refclock NMEA {{ gps_serial_device }}:{{ gps_baud }} refid NMEA poll 4
refclock PPS /dev/pps0 lock NMEA refid PPS poll 4

# Optional pool for sanity
pool pool.ntp.org iburst

# Serve NTP to LAN
allow {{ ntp_allow_cidr }}
cmdallow 127.0.0.1
