
[Unit]
Description=EPICS P4P GPS/Chrony PV Server (CLF-TIMING)
After=network-online.target gpsd.service chrony.service
Wants=network-online.target

[Service]
User={{ epics_user }}
Group={{ epics_group }}
WorkingDirectory={{ epics_dir }}
Environment="PYTHONUNBUFFERED=1"
ExecStart={{ epics_venv }}/bin/python {{ epics_dir }}/gps_pv_server.py
Restart=always

[Install]
WantedBy=multi-user.target
